*.approj
SpriteBuilder Resources/
build/
*.o
*.class
*.dll
*.exe
*.com
*.txt
*.xcuserstate
Source/libs/
Source/Resources/
!Source/Resources/Published-iOS/
# Created by http://www.gitignore.io

### Xcode ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata

